.header {
  background-color: $color-black;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem;

  & h1 {
    background: -webkit-linear-gradient(
      -86deg,
      #0a89e7 15%,
      #ba07ca 35%,
      #ff2200 35%,
      #f6dd24 91%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: $color-white;
    letter-spacing: 0.5rem;
  }
}

.spinner {
  margin: 5rem auto;
  text-align: center;

  svg {
    height: 6rem;
    width: 6rem;
    fill: red;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
