.header {
  background-color: $color-black;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem;

  & h1 {
    background: -webkit-linear-gradient(
      -86deg,
      #ff372b 0%,
      #7d25d9 40%,
      #35abf0 60%,
      #25d949 75%,
      #faec20 85%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: $color-white;
    letter-spacing: 0.5rem;
  }
}

.spinner {
  margin: 5rem auto;
  text-align: center;

  svg {
    height: 6rem;
    width: 6rem;
    fill: red;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn {
  display: grid;
  //grid-template-columns: 3fr 1fr;
  align-items: center;
  align-self: center;
  border-style: none;
  background-color: $color-secondary;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 3rem;
  transition: all 0.2s;

  &:hover,
  &:focus {
    transform: scale(1.1);
    box-shadow: 1px 29px 54px -5px rgba(0, 0, 0, 0.63);
    border-style: inherit;
    border: solid $color-black;

    svg {
      animation: rotate 4s infinite linear;
    }
  }
}
