.finder-section {
  background: -webkit-linear-gradient(
    -45deg,
    #ff372b 0%,
    #7d25d9 40%,
    #35abf0 60%,
    #25d949 75%
  );
}

.finder {
  & h2 {
    text-align: center;
  }
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
  gap: 3rem;

  &__icon {
    width: 3rem;
    height: 3rem;
  }

  &__field {
    border: none;
    border-radius: 1rem;
    border: transparent;
    width: 90%;
    height: 5vh;
    padding: 1.5rem;
    font-weight: 300;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    grid-template-columns: 4fr 1fr;

    &--icon {
      width: 3rem;
      height: 3rem;
    }
  }
}

.results {
  display: none;
}

.results--active {
  display: grid;
  grid-column: full-start / full-end;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 30vw);
  gap: 1.5rem;
  padding: 1.5rem;

  &__item {
    &--1 {
      grid-row: 1 / span 2;
    }

    &--5 {
      grid-row: 3 / span 2;
      grid-column: 2 / 3;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.pagination {
  display: none;
}

.pagination--active {
  display: flex;
  justify-content: space-around;
}

.btn--inline {
  display: flex;
  //grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 30%;
}
